<% 
  if @section_data.nil? || @section_data[node.xpath("@name").text].nil?
  default_field = "" 
  else
  default_field = @section_data[node.xpath("@name").text]
  end
%>

<div id="<%= node.xpath("@name").text %>">
  <h4><%= node.text %></h4>
<div class="well top">
  <input class="field_box" type ="text" name="<%= prefix %>[<%= node.xpath("@name") %>]" value="<%= default_field %>"/>
</div>
</div>
